@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Ubuntu&display=swap');
*{
	margin: 0;
}

body{
	display: grid;
	height: 90vh;
	place-items: center;
}

*::after, *::before
{
	content: '';
	position: absolute;
}

.card{
	position: relative;
	display: flex;
	flex-direction: column;
	font-size: 10px;
	width: 35em;
	aspect-ratio: 0.7;
	background: var(--cream);
	border-radius: 2em;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: transform 200ms ease;
}
.card > *{
	position: absolute;
	
}
.bg{
	top: 0;
	width: 100%;
	height: 50%;
	border: 2px solid red;
	background-image: url(./laptop/1337.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.img{
	width: 40%;
	aspect-ratio: 1;
	background-image: url(./laptop/b2ap3_large_totw_network_profile_400.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	transition: transform 200ms ease;
	transition: 200ms ease;
}
.info{
	top: 70%;
	font-size: 2em;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

.zoom{
	transform: scale(1.1);
}

:root{
	--cream: #F7F6F2;
	--navy: #4B6587;
	--grey: #C8C6C6;
	--beige: #C8C6C6;
}